.newContainer {
    background-size: cover;
    padding: 355px;
    width: 100%;
    /* Add more background properties as needed */
}

.newContainerBG {
    background-image: url("/Images/collage.jpg"); 
    opacity: 7.5%;
    background-size: contain;
    align-content: center;
    padding: 365px;
    width: 100%;
    /* Add more background properties as needed */
}